<table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
            {{#each allSkaters}}
          <tr>
            <th scope="row">1</th>
            <td><div><img width="60px" src="../../public/img/{{this.foto}}" alt={{this.nombre}}></div></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td class="text-success font-weight-bold">
                {{#if this.estado}}
                 Aprobado
                 {{else}}
                En Revisión
                {{/if}}
            </td>
          </tr>
            {{/each}}
        </tbody>
      </table>