<table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody id="tbody">
           {{#each allSkaters}}
          <tr>
            <th scope="row">1</th>
            <td><div>Foto</div></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td><input type="checkbox" value={{this.estado}} class="checkbox" data-id={{this.id}} {{#if this.estado}}checked{{/if}} /></td>
          </tr>
            {{/each}}
        </tbody>
      </table>